.main{
    box-sizing: border-box;
}
.women-day{
    overflow: hidden;
    height: 500px;
    margin: 5px 0;
}

.women-day img{
    transition: all 5s;

}
.women-day img:hover{
    transform: scale(1.1,1.1);
}

.brands-detail img{
    height: 70px;
}
